<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title th:remove="all">Reset Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h3>Reset Password</h3>
    <p>Hello,
        <th:block th:utext="${name}" />
    </p>
    <p>We got a request to reset your CareerFund password. Click link below to reset your password.
        <br>
        <br>
        <a th:href="${reset_link}" th:utext="${reset_link}" />
        <br>
        <br>
        Link only valid for 1 day.
        <br>
        If you ignore this message, your password will not be changed.
    </p>
    <p>Thank you.</p>
    <br>
    <p>Sincerely,</p>
    <p>CareerFund</p>
</body>

</html>